body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

#primary-header {
    background-color: #ffffff;
    box-shadow: 0 3px 3px #d7d7d7;
    left:0;
    position: fixed;
    top:0;
    width:100%;
    h1 {
        color: #ef8925;
        font-size: 1.5625em;
        font-weight: 100;
        padding: 5px 0 2px 75px;
    }
    #map-canvas {
        margin-top: 7px;
        height: 350px;      
    }
}

#display {
    margin-top: 390px;
}

.locale {
    border-top: 1px solid #d1cbcd;
    background-color: #f6f7fb;
    cursor: pointer;    
    padding: 10px 75px 10px 75px;
    h2 {
        padding: 5px 0 10px 0;
        color: #ef8925;
        font-size: 2.5em;
        font-weight: 100;
    }
    p {
        padding: 10px 0 10px 0;
        color: #ef8925;
        font-size: 1.5625em;
        font-weight: 100;
    }
    span {
        color: #606060;
        font-size: 1.5625em;
        font-weight: 100;
    }
    .locale-info {
        display: inline-block;
    }
    .locale-countdown {
        display: inline-block;
        float: right;
        padding-top: 10px;
        vertical-align: top;
    }
    @media (max-width: 1000px) {
        h2 {
            font-size: 1.875em;
        }
        p {
            padding: 5px 0 5px 0;
            font-size: 1.5625em;
        }
        span {
            font-size: 1.5625em;
        }
    }
    /*@media (max-width: 760px) {
        h2 {
            font-size: 1.25em;
        }
        p {
            padding: 5px 0 5px 0;
            font-size: 1.25em;
        }
        span {
            font-size: 1.25em;
            padding-bottom: 20px; 
        }
        .locale {
            padding: 0;
        }
        .locale-info {
            display: block;
        }
        .locale-countdown {
            display:hidden;
            float: left;
            display: block;
            margin: 20px 0 20px 0;
        }
    }*/
}

.locale:hover {
    background-color: #f0f3fb;
}

/*.locale-selected {
    background-color: #f0f3fb;
}*/  

#results {
    padding: 20px 0 20px 75px;
    li.passed {
        color: green;
        padding: 5px 0 0 0;
    }
    li.failed {
        color: red;
        padding: 5px 0 0 0;
    }
}