body {

    background-color: rgb(220, 220, 220);
    font-family: 'Open Sans', sans-serif;
    
}

/*#container {
    
    margin: 0 auto;
    width: 900px;

}*/

#primary-header {
    
    margin: 0 0 15px 0;

    h1 {
        font-size: 2.5em;
    }

}

#map-canvas {
    
    height: 350px;

}

.locale {
    
    background-color: rgb(230, 230, 230);
    box-shadow: 0 3px 3px #a0a0a0;
    cursor: pointer;    
    height: 100px;  
    margin: 15px 0 0 0;
    padding: 10px 15px 10px 15px;

    h2 {
        font-size: 1.5625em;
    }

    p {
        font-size: 1.25em;
    }

}

.locale:hover {
    background-color: rgb(235, 235, 235);
}

#primary-footer {
    
    margin: 15px 15px 15px 15px;

    p {
        font-size: 1.875em;
    }

}

#results {

    padding: 0 15px 0 15px;
    
    li.passed {

        color: green;
        padding: 5px 0 0 0;
    
    }

    li.failed {

        color: red;
        padding: 5px 0 0 0;

    }

}