<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>appy</title>
        <!--<meta name="description" content="">-->
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/reset.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvF1WSjBTUnTzPCJL9fnrsRnf2WBE-BcY&sensor=false"></script>
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="container">
            <header id="primary-header" role="banner">
                <h1>Locale...</h1>
            </header>
            <section id="primary-section" role="main">
                <div id="map-canvas"></div><!-- #map-canvas ends -->
                <div id="display">
                    <div id="listing"></div><!-- #listing ends -->
                </div>
            </section>
            <footer id="primary-footer" role="contentinfo">
                <p>Locale...</p>
            </footer>
            <!-- Custom JS Testing Suite -->
            <ul id="results"></ul>
            <!-- Custom JS Testing Suite ends... -->
        </div><!-- #container ends -->
        <script id="locale-template" type="text/template">
            <div class="locale">
                <h2><%= localeName %></h2>
                <p><%= localeEventHours %></p>
            </div>
        </script>
        
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/lodash/dist/lodash.min.js"></script>
        <script src="bower_components/backbone/backbone-min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <script src="scripts/googlemaps.js"></script>
        <script src="scripts/countdown.js"></script>
        <script src="scripts/core.js"></script>
        <script src="scripts/models/locale.js"></script>
        <script src="scripts/collections/locale.js"></script>
        <script src="scripts/views/locale.js"></script>
        <script src="scripts/views/directory.js"></script>
        <script src="scripts/test.js"></script>
        <!-- endbuild -->
</body>
</html>
